.typeProduct{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.Cont_titleTypeProduct{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ViewtypeProduct{
    color: var(--colorPrimary);
}

.titleTypeProduct{
    color: var(--colorBaseMedium);
    font-family: var(--font-titles);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}