.Cont_sliderProm{
    height: 500px;
    margin-top: 5rem;
    overflow: hidden;
}

.Cont_cardSliders{
    display: flex;
    width: 100%;
}

.card_sliderProm {
    height: 500px;
    width: 100%;
    flex-shrink: 0;
}

.prom{
    width: 100%;
}