.typePromos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.Cont_titleTypePromos{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ViewtypePromos{
    color: var(--colorPrimary);
}

.titleTypePromos{
    color: var(--colorBaseMedium);
    font-size: 2.375rem;
    margin-bottom: 1rem;
}