.promos{
    align-items: center;
    border-radius: 1.5rem;
    display: flex;
    height: 60%;
    flex-flow: column wrap;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 48%;
}

.imgPromos{
    height: 15rem;
}

.imgPromos .imgPromos-default{
    
    padding-bottom: 0.3rem;
    width: 100%;
}

.pricePromos{
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.3rem 0;
}

.linkPromos{
    color: var(--colorPrimary);
    font-size: 0.8rem;
    font-weight: 700;
}
