.Cont_logoStoreBanner .logoStore__Banner{
    width: 100%;
}

.infoRegister{
    align-items: center;
    justify-content: center;
    display: flex;
    background:no-repeat center / cover url("https://images.pexels.com/photos/2860154/pexels-photo-2860154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    flex-flow: column wrap;
    height: 100vh;
    left: 0;
    position: relative;
    padding: 5rem;
    width: calc(40% - 3rem);
}

