.banner{
    background: url("../../img/banners/pizza-2810589_1920.jpg") no-repeat center;
    display: flex;
    flex-flow: row wrap;
    height: 60vh;
    justify-content: space-between;   
}

.Cont_logoStoreBanner{
    display: flex;
    height: 50%;
    margin: 2.5rem;
}

.logoStore__Banner{
    height: 100%;
}

.Cont__iconBanner{
    display: flex;
    justify-content: flex-end;
    height: 50%;
    margin: 2.5rem;
}

.icon_Banner{
    height: 20%;
}

/* phones */

@media screen 
    and (min-device-width:280px){
        .banner{
            width: 90%;
            height: 10vh;
        } 

        .Cont_logoStoreBanner , .Cont__iconBanner{
            margin: 1rem;
        }
}

@media screen 
    and (min-device-width:320px){
        .banner{
            width: 80%;
        } 
}

@media screen 
    and (min-device-width:375px){
        .banner{
            width: 67%;
        } 
}

@media screen 
    and (min-device-width:425px){
        .banner{
            width: 59%;
        } 
}

/* tablets */

@media screen 
    and (min-device-width:426)
    and (max-device-width:768){
    
}

/* laptops */

@media screen 
    and (min-device-width:769)
    and (max-device-width:1024){

}