.navigator__Banner{
    background: linear-gradient(to bottom, #00000000 20% , #000000 80%);
    display: flex;
    height: 40%;
    width: 100%;
}

.Cont__navigatorBanner{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.Cont__navigatorBanner #linkBanner{
    font-size: 1.2rem;
    transition: font-size cubic-bezier(0.075, 0.82, 0.165, 1) 400ms;
}

.Cont__navigatorBanner #linkBanner:hover{
    font-family: var(--font-titles);
    text-decoration: underline;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: font-size cubic-bezier(0.075, 0.82, 0.165, 1) 400ms;
}


/* Medias */
@media screen /* phones */
    and (max-device-width:425px){
        .navigator__Banner{
            height: 10%;
            z-index: 1;
        }

        .Cont__navigatorBanner #linkBanner{
            font-size: 0.6rem;
        }
    }